{% extends 'base.html.twig' %}

{% block title %}Les agents{% endblock %}

{% block body %}

<h1 class="mb-3">
    Les agents
    <a  href="{{ path('admin_agents_create') }}" ><img src="{{ asset('build/images/plus.png') }}" alt="Ajouter un agent" class="img-fluid"></a>
</h1>

<div class="search mb-3">
    <input class="form-control w-25 mx-auto js-query" type="text" name="query" id="query" placeholder="Recherche par titre">
<input type="hidden" name="page" value="{{ page }}">
</div>

<div class="content">
    {% include "agent/_content.html.twig" %}
</div>



{% endblock %}