{% extends 'base.html.twig' %}

{% block title %}Pays{% endblock %}

{% block body %}

<h1>Pays</h1>
<a href="{{ path('admin_country_create') }}">ajouter un pays</a>

{% for country in countries %}
<div>
    {{ country.name }}
    <a href="{{ path('admin_country_update' ,{id : country.id}) }}">modifier</a>
    <a href="{{ path('admin_country_delete', {id : country.id}) }}">supprimer</a>
</div>

{% endfor %}

{% endblock %}