{% extends 'base.html.twig' %}

{% block title %}Modifier le pays{% endblock %}

{% block body %}

<h1>Modifier le pays</h1>

{{ form_start(form) }}
{{ form_row(form.name) }}
<div class="my-3">
    <button type="submit" class="btn btn-sm btn-warning">MODIFIER</button>
    <a href="{{ path('admin_country') }}" class="btn btn-sm btn-danger">ANNULER</a>

</div>
{{ form_end(form) }}

{% endblock %}