{% extends 'base.html.twig' %}

{% block title %}Nationalités{% endblock %}

{% block body %}

<h1>Nationalités</h1>
<a href="{{ path('admin_nationality_create') }}">ajouter une nationalité</a>

{% for nationality in nationalities %}
<div>
    {{ nationality.nationality }}
    <a href="{{ path('admin_nationality_update' ,{id : nationality.id}) }}">modifier</a>
    <a href="{{ path('admin_nationality_delete', {id : nationality.id}) }}">supprimer</a>
</div>

{% endfor %}

{% endblock %}