{% extends 'base.html.twig' %}

{% block title %}Types de planque{% endblock %}

{% block body %}

<h1>Types de planque</h1>
<a href="{{ path('admin_typeHidingPlace_create') }}">ajouter un type de planque</a>

{% for type in typesHidingPlace %}
<div>
    {{ type.name }}
    <a href="{{ path('admin_typeHidingPlace_update' ,{id : type.id}) }}">modifier</a>
    <a href="{{ path('admin_typeHidingPlace_delete', {id : type.id}) }}">supprimer</a>
</div>

{% endfor %}

{% endblock %}