{% extends 'base.html.twig' %}

{% block title %}Les missions{% endblock %}

{% block body %}

<h1 class="mb-3">
    <span>Les missions</span>
    {% if is_granted('ROLE_ADMIN') %}
<a  href="{{ path('admin_missions_create') }}" ><img src="{{ asset('build/images/plus.png') }}" alt="Ajouter une mission" class="img-fluid"></a>
{% endif %}
    
</h1>

<div class="search">
    <input class="form-control w-25 mx-auto js-query" type="text" name="query" id="query" placeholder="Recherche par titre">
<input type="hidden" name="page" value="{{ page }}">
</div>

<div class="content">    
    {% include "mission/_content.html.twig" %}
</div>

{% endblock %}