form {
    width: auto;
    max-width: 900px;
    margin: 0 auto;
    img {
        width: 20px;
    }

    .agent {
        overflow: auto;
    }
}

.offset span {
    line-height: 38px;
}

#offset {
    width: 60px;
}

#mission_hidingPlace option {    
    text-decoration: underline;
    color : #0D6EFD;
    cursor: pointer;
}