form {
    width: auto;
    max-width: 900px;
    margin: 0 auto;
    img {
        width: 20px;
    }

    // .agent {
    //     overflow: auto;
    // }
}

.limit span {
    line-height: 38px;
}

#limit {
    width: 60px;
}

// le jquery associé ne fonctionne pas en PROD
// .form-create #mission_hidingPlace option {    
//     text-decoration: underline;
//     color : #0D6EFD;
//     cursor: pointer;
// }

// .form-edit #mission_agent option {    
//     text-decoration: underline;
//     color : #0D6EFD;
//     cursor: pointer;
// }

