.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(37,37,41);
    color: white;
    height: 60px;
    z-index: 2000;
}

.navbar-brand {
    color: white;
}

.nav-link {
    color: #6c757d;
    &:hover{
        color : white;
    }
    &:focus {
        color : white;
    }
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler img {
    height: 24px;
}

.navbar-collapse {
    position: absolute;
    right: 0;
    top: 60px;
    width: 150px;
    height: 44px;
    padding: 10px;
    background-color: rgb(37,37,41);
    border-end-start-radius: 10px ;
    z-index: 3000;
}

.navbar-nav .nav-link.active {
    color : #ffffff80;
}

@media screen and (min-width: 930px){
    .navbar-collapse {
        position: relative;
        top: 0;
    }
}