.table {
    margin-top: 60px;
    img {
        width: 25px;
    }
    &-show {
        width: 335px;        
        margin : 0 auto;
    }
    
    tr:nth-child(odd){
        background: rgb(195, 195, 195);
    }
    tr:nth-child(even){
        background: rgb(238, 238, 238);
    }

    td {
        position: relative;
    }    
    ul {
        margin : 0;
    }
    .no-border {
        border : none;
    }
    th {
        padding: 10px;
    }
}

.table-mission {
    width: 800px;
}



.table-details {
   
    tr:nth-child(odd){
        background: rgb(195, 195, 195);
    }
    tr:nth-child(even){
        background: rgb(238, 238, 238);
    }

    th, td{
        padding : 10px;
    }
}

// le JS associé ne fonctionne pas en PROD
.table-show {
    li{
        text-decoration: underline;
        color : #0D6EFD;
        cursor : pointer;
    }
    li:hover{
        color : #2d5188;
    }
}

.table-details {
    li{
        text-decoration: none;
        color : black;
    }
}

@media screen and (min-width : 768px){
    .table {
        width: 600px;
        margin: 0 auto;
    }
    .table-mission {
        width: 800px;
    }
}