.table {
    margin-top: 60px;
    img {
        width: 25px;
    }
    &-show {
        width: 335px;
        
        margin : 0 auto;
        // text-align : center;
    }
    
    tr:nth-child(odd){
        background: rgb(195, 195, 195);
    }
    tr:nth-child(even){
        background: rgb(238, 238, 238);
    }

    td {
        position: relative;
    }    
    ul {
        margin : 0;
    }
    .no-border {
        border : none;
    }
    th {
        padding: 10px;
    }
}

.table-details {
   
    tr:nth-child(odd){
        background: rgb(195, 195, 195);
    }
    tr:nth-child(even){
        background: rgb(238, 238, 238);
    }

    th, td{
        padding : 10px;
    }
    // .striped {
    //     background: grey;
    // }
}

@media screen and (min-width : 768px){
    .table {
        width: 600px;
        margin: 0 auto;
        // &-show {
        //     width: 600px;
        // }
    }
}