{% extends 'base.html.twig' %}

{% block title %}Créer un type de mission{% endblock %}

{% block body %}

<h1>Créer un type de mission</h1>

{{ form_start(form) }}
        {{ form_row(form.name) }}
        <div class="my-3">
            <button type="submit" class="btn btn-sm btn-warning">AJOUTER</button>
        </div>
        {{ form_end(form) }}

{% endblock %}