{% extends 'base.html.twig' %}

{% block title %}Types de mission{% endblock %}

{% block body %}

<h1>Types de mission</h1>
<a href="{{ path('admin_typeMission_create') }}">ajouter un type de mission</a>

{% for type in typesMission %}
<div>
    {{ type.name }}
    <a href="{{ path('admin_typeMission_update' ,{id : type.id}) }}">modifier</a>
    <a href="{{ path('admin_typeMission_delete', {id : type.id}) }}">supprimer</a>
</div>

{% endfor %}

{% endblock %}